<app-admin></app-admin>
<div class="order">
    <div class="table table-hover">
        <h2>Orders</h2>
        <table>
            <thead style="text-align: center;">
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th>Date</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody style="text-align: center;">
            <tr>
                <td>
                    <input type="text">
                </td>
                <td><img src="assets/img/new_01.jpg" width="100px" height="100px"></td>
                <td><input type="datetim-local"></td>
                <td>Nu.10,000</td>
                <td>
                    <a href="#">View</a>
                </td>
            </tr>
            
            </tbody>
        </table>
    </div>
    

