<div id="wrap">
  <header>       
      <div class="logo">
          <a href="index.html">
             <h3><span>ONLINE</span>-SHOPPING</h3>
          </a>
      </div>
      <nav class="main-nav">
        <ul>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/admin">admin<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/order">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/orderSummary">Order Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">logout</a>
          </li>        
        </ul>
      </nav> 
  </header>