@charset "utf-8";

.contents {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;

}
h2 {
    width: 800px;
    height: 60px;
    line-height: 60px;
    background-color:#333333;
}