<app-customer></app-customer>
<div class="shopping-form">
    
    <h2 style="text-align: center; color: #80a727;">SHOPPING FORM</h2>
<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="First Name" class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Last Name" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="Contact" class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Address" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="City" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button class="btn btn-success btn-block btn-lg">Place Order</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary btn-block btn-lg">Clear</button>
    </div>
</div>
</div>