
  <div id="wrap">
    <header>       
      <div class="logo">
          <a href="index.html">
             <h3><span>ONLINE</span>-SHOPPING</h3>
          </a>
      </div>
      <nav class="main-nav">
        <ul>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/customer">Customer<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/shoppingCart">ShoppingCart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer/shoppingForm">ShoppingForm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Logout</a>
          </li>
        
        </ul>
      </nav> 
  </header>
  
  <div class="mainimg">
    <div class="slide">
      <img src="assets\img\slide1.jpg">
      <img src="assets\img\slide2.jpg">
      <img src="assets\img\slide3.jpg">
    </div>
  </div>
  <div class="new">
    <h3>NEW ARRIVAL</h3>
    <div class="item">
        <ul>
            <li><img src="assets/img/new_01.jpg"></li>
            <li class="product">Custom Made-1</li>
            <li class="price">Nu.10,000</li>
            <li class="cart">
            <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
            </button></li>
        </ul>
    </div>
    
    <div class="item">
        <ul>
            <li><img src="assets/img/new_02.jpg"></li>
            <li class="product">Custom Made-2</li>
            <li class="price">Nu.20,000</li>
            <li class="cart">
              <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
              </button></li>
        </ul>
    </div>
    <div class="item">
        <ul>
            <li><img src="assets/img/new_03.jpg"></li>
            <li class="product">Custom Made-3</li>
            <li class="price">Nu.10,000</li>
            <li class="cart">
              <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
              </button></li>
        </ul>
    </div>
    <div class="item">
        <ul>
            <li><img src="assets/img/new_04.jpg"></li>
            <li class="product">Custom Made-4</li>
            <li class="price">Nu.15,000</li>
            <li class="cart">
              <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
              </button></li>
        </ul>
    </div>
    <div class="item clear">
        <ul>
            <li><img src="assets/img/new_05.jpg"></li>
            <li class="product">Custom Made-5</li>
            <li class="price">Nu.11,000</li>
            <li class="cart">
              <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
              </button></li>
        </ul>
    </div>
    <div class="item">
        <ul>
            <li><img src="assets/img/new_06.jpg"></li>
            <li class="product">Custom Made-6</li>
            <li class="price">Nu.10,000</li>
            <li class="cart">
              <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
              </button></li>
        </ul>
    </div>
    <div class="item">
        <ul>
            <li><img src="assets/img/new_07.jpg"></li>
            <li class="product">Custom Made-7</li>
            <li class="price">Nu.20,000</li>
            <li class="cart">
              <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
              </button></li>
        </ul>
    </div>
    <div class="item">
        <ul>
            <li><img src="assets/img/new_08.jpg"></li>
            <li class="product">Custom Made-8</li>
            <li class="price">Nu.10,000</li>
            <li class="cart">
              <button onclick=""><a href="http://localhost:4200/customer/shoppingCart">Add to Cart</a>
              </button></li>
        </ul>
    </div>
  </div>
  </div>
  