
<div class="shopping-cart">
<div class="table table-hover">
    <h2>Shopping Cart</h2>
    <table>
        <thead style="text-align: center;">
        <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody style="text-align: center;">
        <tr>
            <td><img src="assets/img/new_01.jpg" width="100px" height="100px"></td>
            <td>Custome Made-1</td>
            <td>
            <input type="number" class="form-control text-center" value="1">   
            </td>
            <td>Nu.10,000</td>
        </tr>
        <tr>
            <td><img src="assets/img/new_01.jpg" width="100px" height="100px"></td>
            <td>Custome Made-1</td>
            <td>
            <input type="number" class="form-control text-center" value="1">   
            </td>
            <td>Nu.10,000</td>
        </tr>
        <tr>
            <td><a href="http://localhost:4200/customer/shoppingForm" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>

